{% extends 'base.jinja' %}

{% block content %}
  <div class="section">
    <strong>Conversations:</strong>
    {% for conversation in object_list %}
      <div>
        <a href="{{ url('operator-conversation', pk=conversation.id) }}">{{ conversation }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
