{% extends 'base.jinja' %}

{% block content %}
  <div class="section">
    <button id="open" class="btn btn-default">Open WebSocket</button>
    <button id="close" class="btn btn-default">Close WebSocket</button>
  </div>
  <div class="row section">
    <div class="col-md-6">
      <div>
        <label>Console</label>
        <pre id="console"></pre>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="message-box">Message to send:</label>
        <textarea class="form-control" rows="5" id="message-box"></textarea>
      </div>
      <div class="form-group">
        <button id="send-msg" class="btn btn-default">Send</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <div id="ws-url-ref" data-value="{{ ws_url }}"></div>
  <script src="{{ static('js/test_websockets.js') }}"></script>
{% endblock %}
